.containerCard{
    width: 100%;
    background-color: #fff;
    border-radius: 0.4rem;
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
}
.actionCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}

.actionCard button:hover{
    cursor: pointer;
}